@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}
a{
    text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.4);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(160, 160, 160, 0.6);
}

::-webkit-scrollbar-track {
  background: transparent;
}